@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
  box-sizing: border-box;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
header {
  background-color: #252831;
  text-align:center;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}
main, #breadcrumb {
  /*max-width: 990px;*/
  margin: 0px auto;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #eee;
}
h1 {
  margin: auto;
}
h1 a {
  color: #fff;
  font-size: 0.7em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Open Sans';
  line-height: 4em;
}
#breadcrumb {
  padding: 10px 20px;
  list-style: none;
  box-sizing: border-box;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #3397DB;
  /* align-items: center; */
  padding: 20px;
  box-sizing: border-box;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  /* line-height: 1; */
  margin: 0 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 20px;
  text-align: center;
}
#restaurants-list li {
  font-family: 'Open Sans',sans-serif;
  margin-bottom: 15px;
  text-align: left;
  display: inline-block;
  border-top-left-radius: 20px;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin-right: 15px;
  vertical-align: top;
  width: 100%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /*min-height: 248px;*/
  min-width: 100%;
}
#restaurants-list div {
  background-color: #fff;
  padding: 10px 20px;
  text-align: center;
}
#restaurants-list div *:not(a) {
  text-align: left;
}
#restaurants-list li h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
  white-space: nowrap;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  color: #fff;
  display: block;
  font-size: 0.8em;
  margin: 15px auto;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-weight: 200;
  letter-spacing: -1px;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  clear: both;
}
#restaurant-container, #reviews-container, #map-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
#restaurant-container, #reviews-container {
  padding: 20px;

}
#reviews-container {
  padding: 20px;
}
#reviews-container h3 {
  color: #f58500;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  display: inline-block;
}
main a.button {
  background-color: orange;
  color: #fff;
  display: block;
  font-size: 0.8em;
  margin-bottom: 15px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  float: right;
}
#reviews-list {
  margin: 0;
  padding: 0;
  clear: both;
}
#reviews-list li {
  /*background-color: #fff;
  border: 2px solid #f3f3f3; */
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  /* padding: 0 20px 20px; */
  position: relative;
  /* width: 85%; */
}
.review {
  background-color: #fff;
  border-top-left-radius: 20px;
  overflow: hidden;
  border-bottom-right-radius: 20px;
}
.review .review-head {
  padding: 10px 17px;
  background-color: #333;
  color: #fff;
}
.review .review-head span {
  float: right;
  font-size:0.75em;
  color: #999;
}
.review .rating {
  color: #FFA500;
  font-size: 1.1em;
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}
#reviews-list li p:not(.rating) {
  margin: 0 0 10px;
  padding: 10px 20px;
}
#restaurant-hours {
  width: 100%; 
}
#restaurant-hours td {
  color: #666;
  vertical-align: top;
  text-align: left;
}
#restaurant-img {
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#review-form-container {
  display: none;
  max-width: 400px;
  margin: 0px auto;
  position: fixed;
  padding: 30px;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  border: 1px solid #efefef;
  z-index: 1000;
  height: 300px;
}
#review-form-container fieldset > * {
  margin-bottom: 20px;
}
#review-form-container button[type='submit'] {
  display: block;
  width: 100%;
  max-width: 120px;
  margin: 0px auto;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }
  #map-container, #restaurant-container, #reviews-container {
    width: 100%;
  }
  .filter-options select {
    width: calc(100% - 20px);
    display: block;
    font-size: inherit;
  }
  #restaurants-list {
    padding: 30px 0px;
  }
  #restaurants-list li {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 700px) {
  #addToFav, #removeFromFav {
    margin: 10px auto;
    display: block;
    float: none;
  }
}
@media screen and (min-width: 601px) {
  #restaurants-list li {
    max-width: 290px;
  }
  #map-container, #restaurant-container {
    width: calc(50% - 20px);
  }
  #map-container {
    order: 2;
  }
  #restaurant-container {
    order: 1;
  }
  #reviews-container {
    width: 100%;
    order: 3;
  }
  div#map {
    height: 100%;
    margin-top: 92px;
  }
}
